[Unit]
Description=Run RTPMIDID at boot
DefaultDependencies=no
Wants=network-online.target
After=network-online.target
Conflicts=shutdown.target
Before=shutdown.target 

[Service]
Type=simple
User=root
KillMode=process
Restart=always
WorkingDirectory=/root
ExecStart=/usr/local/bin/rtpmidid

[Install]
WantedBy=default.target
